body{
    font-family: Rubick;
}
.navbar{
    border-bottom: solid 4px #098AC1;
}
header{
    min-height: 100vh;
    background-image: 
    linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.7))
    ,url(../images/background.jpg);
    background-position: center;
    background-size: cover;
}
h2{
    text-align: center;
}
hr{
    width: 500px;
    margin: 20px auto;
    border: solid 3px #098AC1;
    border-radius: 3px;
}

.suit{
    padding: 0;
    background-color: black;
    overflow: hidden;
    height: 300px;
}
.suit img{
    width: 100%;
    margin-bottom: -5px;
    opacity: 0.6;
    transform: scale(1.2);
    transition: 1s;
}
.suit img:hover{
    opacity: 1;
    transform: scale(1);
}

.product img{
    width: 100%;
}
label{
          
    color: #098AC1;
    font-size: 16px;

}

input[type=text] , input[type=email], select , textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 7px;
}

select{
    width: 105.5%;
}

input[type=checkbox] {
    margin-bottom: 15px;
}

button{
    border: solid 1px #098AC1;
    margin-right: 15px;
    padding: 12px 30px;
    border-radius: 5px;
    color: #098AC1;
    text-decoration: none;
    background-color: white;
}


footer{
    padding: 50px 70px;
    background-color: #098AC1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.footer-nav{
    list-style: none;
}

.footer-nav li{
    display: inline-block;
    margin-left: 10px;
}

.footer-nav li a{
    color: white;
    text-decoration: none;
}

.footer-nav li a:hover{
    color: black;
    text-decoration: underline;
}

.social-nav{
    list-style: none;
    float: right;
}
    
.social-nav li{
    display: inline-block;
    margin-left: 10px;
}
    
.social-nav li a{
    color: white;
    text-decoration: none;
}
    
.social-nav li a:hover{
    color: black;
    text-decoration: underline;
}
